.mainDiv {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 100%;
}

.toggle-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
}

:root {
  --app-background-color: hsl(219, 28%, 100%); 
  background-color: var(--app-background-color);
}


