@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');

body {
	font-family: 'Cabin', sans-serif;
}

circle {
  stroke: none;
}

line {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

text {
	font-size: 12px;
	text-anchor: middle;
}

