@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

// .container {
//   max-width: 100rem;
//   margin: 0 auto;
//   padding: 0 15rem;
// }

body {
  font-family: 'Montserrat', sans-serif;
}

circle {
  stroke: none;
}

line {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

text {
  font-size: 12px;
  text-anchor: middle;
}

.label {
  fill: white;
}

#tree-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // margin-top: 130px;
  // width: 50%;
  // overflow: scroll;
  // overflow-y: scroll;
  // overflow-x: scroll;
  // height: 2000px;
  // margin-left: 25px;
  // padding-bottom: 10%;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 80vh;
  width: 50%;
  background-color: hsl(219, 29%, 18%);
}

#tree-d {
  // transform: translateX(50px);
  min-height: 50%;
  min-width: 50%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
// g {
//   width: 700px;
//   height: 100%;
// }
