@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* set the height to 100% of the viewport height */
}

body {
  font-family: 'Fira Code', monospace;
  // font-family: 'Roboto', sans-serif;
}

text {
  font-size: 12px;
  text-anchor: middle;
}

.label {
  fill: black;
}

circle {
  stroke: none;
}

line {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

#tree-container {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 80vh;
  width: 50%;
}

#tree-d {
  padding-top: 18%;
  // transform: translateX(50px);
  min-height: 50%;
  min-width: 50%;

  /* Define the initial state of the element */
  opacity: 0;

  /* Define the animation using keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* Apply the animation to the element */
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.popup {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border: 1px solid black;
  width: auto;
  height: auto;
  max-height: 80vh;
  max-width: 80%;
  z-index: 9999;
  overflow-y: auto; 
  border-radius: 5px;
  text-align: center;
}

.dataName{
  font-weight: bolder;
  font-family: 'Merriweather Sans', sans-serif;
}

#more-info{
  text-align: left;
  display: none;
  border: groove lightblue;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;  
  font-family: 'Fira Code', monospace !important;
}

.button-class {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #8299ac;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;

  &:hover{
    background-color: #9eb1c0;
  }

  &:active{
    background-color: #7c959a;
  }
}