.logo-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  padding: 1rem;
  font-size: larger;
}
  
  